.card-book

  &__ok
    font-size: 24px
    color: green

  &__wrapper
    border: 1px solid gray
    padding: 30px
    box-sizing: border-box
    display: flex

    &-button
      display: flex
      margin-top: auto

  &__go-back
    font-size: 24px
    font-weight: bold
    margin-bottom: 50px
    display: inline-block
    border: 1px solid gray
    padding: 5px
    cursor: pointer
    &:hover
      background: gray

  &__content
    display: flex
    flex-direction: column
    padding-left: 20px
    flex: 2

  &__text,
  &__title
    margin-bottom: 10px

  &__title
    font-size: 24px
    font-weight: bold

  &__delete
    margin-left: auto

  &__put,
  &__delete
    display: inline-block
    border: 1px solid gray
    padding: 5px
    cursor: pointer
    &:hover
      background: gray
