<div #itemBook id="{{book.id}}" class="item-book" (click)="onOpenBook(itemBook.id)">
  <img src="http://via.placeholder.com/235x200/">
  <div class="item-book__wrapper">
    <div class="item-book__title">{{book.title}}</div>
    <div class="item-book__text">Автор: <b>{{book.name + ' ' + book.surname}}</b></div>
    <div *ngIf="book?.edition" class="item-book__text">Издание: <b>{{book?.edition}}</b></div>
    <div *ngIf="book?.publication" class="item-book__text">Год публикации: <b>{{book?.publication}} г.</b></div>
    <div *ngIf="book?.circulation"  class="item-book__text">Дата выхода в тираж: <b>{{book?.circulation}}</b></div>
    <div *ngIf="book?.circulation" class="item-book__text">ISBN: <b>{{book?.isbn}}</b></div>
    <div class="item-book__text">Кол. стр.: <b>{{book.pages}}</b></div>
  </div>
</div>
