.item-book
  overflow: hidden
  margin-bottom: 15px
  width: 255px
  border: 1px solid gray
  cursor: pointer
  padding: 10px
  box-sizing: border-box
  transition: .3s transform
  &:hover
    position: relative
    z-index: 1
    box-shadow: 0 0 36px -5px rgba(0,0,0,0.75)
    transform: scale(1.02)

  img
    margin-bottom: 10px

  &__wrapper
    display: flex
    flex-direction: column

  &__text,
  &__title
    margin-bottom: 10px

  &__title
    font-size: 24px
    font-weight: bold
