.main

  &__button
    display: inline-block
    border: 1px solid gray
    padding: 5px
    cursor: pointer
    &:hover
      background: gray

  &__content
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: space-between
    margin-top: 50px
