<div class="input">
  <div class="input__table">
    <div class="input__row">
      <div class="input__cell _left-cell">
        <input type="text" class="input__input">
        <span>Example: SDFXCVBF-1345GVSED2-14FGGDFGFJHU-DFASA</span>
      </div>
      <div class="input__cell _right-cell">
        <button class="input__button">Отправить</button>
      </div>
    </div>
  </div>
  <div class="input__table">
    <div class="input__row">
      <div class="input__cell _left-cell">
        <input type="text" class="input__input">
        <span>Example: SDFXCVBF-1345GVSED2-14FGGDFGFJHU-DFASA</span>
      </div>
      <div class="input__cell _right-cell">
        <button class="input__button">Отправить код</button>
      </div>
    </div>
  </div>
  <div class="input__table">
    <div class="input__row">
      <div class="input__cell _left-cell">
        <input type="text" class="input__input">
        <span>Example: SDFXCVBF-1345GVSED2-14FGGDFGFJHU-DFASA</span>
      </div>
      <div class="input__cell _right-cell">
        <button class="input__button">Send</button>
      </div>
    </div>
  </div>
  <div class="input__table">
    <div class="input__row">
      <div class="input__cell _left-cell">
        <input type="text" class="input__input">
        <span>Example: SDFXCVBF-1345GVSED2-14FGGDFGFJHU-DFASA</span>
      </div>
      <div class="input__cell _right-cell">
        <button class="input__button">Send code</button>
      </div>
    </div>
  </div>
  <div class="input__table">
    <div class="input__row">
      <div class="input__cell _left-cell">
        <input type="text" class="input__input">
        <span>Example: SDFXCVBF-1345GVSED2-14FGGDFGFJHU-DFASA</span>
      </div>
      <div class="input__cell _right-cell">
        <button class="input__button">Длинное название кнопки</button>
      </div>
    </div>
  </div>
  <div class="input__button _revers" (click)="revers()">Отзеркалить</div>
</div>
